#shortener {
  margin: 1em auto;
  text-align: center;
}
#shortener form p {
  margin: 1em 0;
}
#shortener form input[type=text] {
  font-size: 14pt;
  padding: 0.2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  border-radius: 0.2em;
  border-width: 1px;
}
#shortener form input[type=submit] {
  background-color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #505050;
  font-family: 'DejaVu Sans Extra-Light';
  font-size: 12pt;
}
#shortener form input[type=submit]:hover,#shortener form input[type=submit]:active {
  box-shadow: 0 0 3px rgba(0, 127, 255, 0.75);
}
#shortener form input[type=submit]:active {
  background-color: #f0f0f0;
}
